<div class="text-layout">
    <h1>DecimalPipe (Number) y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
                Default Locale:
                <i class="pi pi-dollar"></i>
                {{ ventasNetas | number:'1.2-2' }}
                <hr/>
                EN: 
                <i class="pi pi-dollar"></i>
                {{ ventasNetas | number:'1.2-2':'en' }}
        </p-card>
    </div>
</div>