<div class="text-layout">
    <h1>{{ nombre | uppercase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ obj | json }}</h1>
</div>

<button pButton
        label="Cambiar nombre"
        icon="pi pi-bell"
        iconPos="right"
        class="p-button-help"
        (click)="cambiarNombre()"></button>

<p-card [header]="nombre | titlecase"
        subheader="Ingeniero en Sistemas Informáticos y de Computación">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio modi repudiandae natus, reprehenderit minima perferendis pariatur sed cumque aliquid, eaque sit possimus neque. Laudantium, libero repellat earum suscipit inventore animi.
</p-card>